* {
    margin: 0;
    font-family: 'Open Sans';
}

body {
    display: grid;
}
header {
    display: flex;
    align-items: center;
}

.header-section {
    text-align: right;
    background-image: url(images/banner/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: grid;
    padding: 0 300px 0 1000px;
    justify-content: end;
    align-content: center;
    justify-items: end;
}

.btn-primary {
    height: 65px;
    width: 160px;
    padding: 20px;
    margin: 30px;
    background: #F15B22;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.main-section-details {
    margin-top: 240px;
    width: 500px;
}

.main-section-details h4 {
    font-weight: 800;
    font-size: 35px;
    color: #151414;
    padding-bottom: 20px;
    padding-right: 50px;
}
.main-section-details p {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
padding-bottom: 15px;
padding-right: 50px;
}
.main-section-details li {
    margin-top: 10px;
}
.main-section-details li i {color: #16D887;}
.main-section-details li {
    list-style: none;
}

.my-plan-section {
    display: flex;
    gap: 150px;
    text-align: center;
    margin: 100px 0;
    justify-content: center;
}
.gradient-images {
    display: grid;
    background-image: linear-gradient(to right, rgba(241, 91, 34, 1), rgba(241, 91, 34, 0)),
    url(images/watch.png);
    width: 1140px;
    height: 300px;
    border-radius: 10px;
    margin: 100px 0;
    align-content: center;
    justify-content: start;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
}
.gradient-section {
    
    display: flex;
    justify-content: center;
}
.gradient-section h3 {
    padding: 0 500px 0 50px;
}

.gradient-section button {
    color: #F15B22;
    background-color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.footer-section {
    display: flex;
    justify-content: center;
}
.footer {
    background: #000;
    display: flex;
    color: #fff;
    width: 1500px;
    align-items: center;
    justify-content: center;
}
.footer li {
    display: inline-block;
    list-style: none;
}